RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">


	Header set Cache-Control "max-age=28800"


</FilesMatch>